{% extends 'base.html' %}

{% block content %}
<h1> 상품정보 수정하기 </h1>

<form action="{% url 'products:update' product.pk %}" method="POST">
    {% csrf_token %}
    <label style ="color:#ffffff;">당신이 살 물건의 이름</label><br>
    <input type="text" name="title" value="{{ product.title }}"><br><br>
    
    <label style ="color:#ffffff;">희망낙찰가</label><br>
    <input type="number" name="price" value="{{ product.price }}"><br><br>
    
    <label style ="color:#ffffff;">자기pr</label><br>
    <textarea name="description" >{{ product.description}}</textarea><br><br>
    
    <input type="submit" class="btn btn-primary" value="수정">
    
</form>
{% endblock %}