{% extends 'base.html' %}

{% block content %}
<h1>당신의 입찰가를 보여주세요</h1>



{% for item in products %}
<div class="card" style="width: 50rem;" background-color=yellow;>
  <div class="card-body">
    <h5 class="card-title">{{ item.title }}</h5>
    <h6 class="card-subtitle">{{ item.price }}원</h6>
    <p class="card-text">{{ item.description }}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="{% url 'products:show' item.pk %}" class="card-link">보러가기</a>
  </div>
</div>
{% endfor %}
{% endblock %}