{% extends 'base.html' %}

{% block content %}
<h1>상품 상세보기 페이지 입니다.</h1>
<h2>상품 이름:{{product.title}}</h2>
<h2>상품 가격: {{product.price}}</h2>
<p>상품 설명:{{product.description}}</p>
<a href="{% url 'products:edit' product.pk %}" class="btn btn primary">수정</a>
<a href="#" class="btn btn primary" data-toggle="modal" data-target="#exampleModal">삭제</a>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">정말 삭제하십니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
        <form action="{% url 'products:delete' product.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value = "삭제" class ="btn btn-primary">
      </div>
    </div>
  </div>
</div>

{% endblock %}